<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>fedup.jobs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
  <style>
    .nav-item:hover{
        background-color: skyblue;
        
        border-radius: 5px;
    }
    .nav-item:hover > a{
        color: white !important;
    }
</style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav  mx-auto mt-2 mt-lg-0">
        <li class="nav-item active ml-5">
          <a class="nav-link" href="/">Jobs </a>
        </li>
        <li class="nav-item active ml-5">
          <a class="nav-link" href="/startup">Startup</a>
        </li>
        <li class="nav-item active ml-5">
          <a class="nav-link"  href="/tags">Tags</a>
        </li>
        <li class="nav-item active ml-5">
          <a class="nav-link" href="/location">Location</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0"> -->
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <a href="/addNewPost/" class="btn btn-outline-info text-center text-md-left ml-5 ml-sm-0 my-2 my-sm-0">post your job</a>
      <!-- </form> -->
    </div>
  </nav>
  <div class='hugger'>
    <div class='hugger__content'>
      <header class='productHeader'>
        <div class='productHeader__logo'>
          <div class='collectionStackIcon'>
            <div class='collectionStackIcon__layer'></div>
            <div class='collectionStackIcon__layer'></div>
            <div class='collectionStackIcon__layer'></div>
            <div class='collectionStackIcon__layer'>
              <div class='collectionStackIcon__layer__icon'>
                <div class='collectionStackIcon__layer__icon__square'></div>
              </div>
              <div class='collectionStackIcon__layer__icon'>
                <div class='collectionStackIcon__layer__icon__circle'></div>
              </div>
              <div class='collectionStackIcon__layer__icon'>
                <div class='collectionStackIcon__layer__icon__triangle'></div>
              </div>
              <div class='collectionStackIcon__layer__icon'>
                <div class='collectionStackIcon__layer__icon__heart'></div>
              </div>
            </div>
          </div>
        </div>
        <h1 class='h3 text-center'>Tags</h1>
        <h2 class='h5 text-center'>Find a job you'll love.</h2>
      </header>
    </div>
  </div>
  <div class='col-12'>
    <div class='col-12'>
      {% for tag in tags %}
      <a class="tag" href="{% url 'filtered_keys' job_keys=tag.name %}">{{tag.name}}</a>
      {% endfor %}
    </div>
  </div>
  <script>
    // Perfect Audience

    (function () {
      window._pa = window._pa || {};
      // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
      // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
      // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads

      var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/5b9540e15345177c93000021.js";
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();

    // LinkedIn

    _linkedin_partner_id = "291203";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);

    (function () {
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript"; b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);
    })();
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt=""
      src="https://dc.ads.linkedin.com/collect/?pid=291203&fmt=gif" />
  </noscript>

  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'o0cqx');
    twq('track', 'PageView');
  </script>

</body>

</html>